*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    font-size: 2rem;
    width: 100%;
    height: 100%;
}
.navbar{
    height: 100px;
    width: 100%;
    font-size: 1.2rem;
    color: white;
    background-color: #be3144;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    
    
    

}


ul {
    width: 100%;
    display: flex;
    padding: 10px;
    list-style-type: none;
    height: 100%;

}
li{
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    
   
}
li:hover{
    cursor: pointer;
    background-color:#45567d; 
}
#welcome-section{
    height: 100vh;
    width: 100%;
    background-color: #303841;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  
 
}
.welcome-section-title{
    color: white;
    padding: 10px;
    font-size: 5rem;

}
.welcome-section-com{
    color: brown;
    font-size: 3rem;
    font-style: italic;
}
#projects{
    background-color: #45567d;
    width: 100%;
    height: 1100px;

    
    
}
.projects-title{
    text-align: center;
    color: white;
    text-decoration: underline;
    padding-top: 80px;
    
}
.projects-tile-container{
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    margin-top: 150px;
}
.projects-tile{
    width: 750px;
    height: 650px;
    background-color: #303841;
    display: flex;
    flex-direction: column;
    

}
img{
    width: 750px;
    height: 580px;
}
.project-tile-com{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
     
}
.section-btn{
    width: 50px;
    height: 50px;
    margin-top:5px ;

}
.projects-btn{
    text-align: center;
    margin-top: 30px;
    
}
button{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: #303841;
    color: white;
}
#footer{
    background-color: #303841;
    font-size: 4rem;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1200px;
   

}
.footer-comment{
    margin-top: 200px;
    font-size: 5rem;
    text-align: center;
}

.footer-link{
    height: 50vh;
    margin-top: 20px;
    
}

a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
}
#line{
    width: 100%;
    height: 10px;
    background-color: #be3144;

}
.footer-comment-2{
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
}
@media screen (max-width:665px) {
    body{
        font-size:2rem;
    }
    
}